@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: green;
  background: url(teste.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  backdrop-filter: blur(55px);
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: white;
}

.input-box {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid white;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: white;
}

.input-box i {
  position: absolute;
  right: 8px;
  color: white;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  justify-content: center;
  font-size: 0.9em;
  color: white;
  display: flex;
}

.forget label input {
  margin-right: 3px;
}

.forget label a {
  text-decoration: none;
  color: white;
}

.forget label a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
}

.register {
  color: white;
  font-size: 0.9em;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}
